<app-header></app-header>
<div class="body-container">
  <div class="body-1 div-body">
    <div>
      <h1>Devoid Online Store</h1>
      <p
        >Nos enorgullecemos de ser una marca cálida, amigable y confiable, y
        estamos comprometidos a brindar a nuestros valiosos clientes un servicio
        al cliente excepcional.</p>
    </div>
  </div>

  <div class="body-3 div-body">
    <div class="phrase">
      <h3>
        Admira lo que quieres ser,<br />
        vive la realidad que ves
      </h3>
    </div>
  </div>

  <div class="body-2 div-body">
    <div class="displayOnDesktop"></div>
    <div class="limbo">
      <div>
        <h2 class="tittle">L I M B O</h2>
        <p>
          Debajo del suelo, arriba del cielo no se que<br />
          pienses ni que creas, no se siquiera quien <br />
          seas, pero crees que existe un mas allá?, un <br />
          lugar después de morir?... <br />
          Yo creo que no hay ningún lugar a donde ir, <br />
          siquiera aun tiene algún sentido vivir...
        </p>
        <button mat-button>ver más</button>
      </div>
    </div>
  </div>

  <div class="body-4">
    <div class="body-4-img">
      <img class="img4" src="/assets/img/1.png" alt="Devoid instagram feed" />
    </div>
    <div class="body-4-redes">
      <div>
        <p>
          Siguenos en nuestro perfil de instagram hacemos descuentos, sorteos y
          mucho más! <br />
        </p>
        <button mat-button>Ir a Instagram</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
