<div *ngIf="token" mat-dialog-title>
   <p> Hola, {{user}}</p>
</div>
<div *ngIf="token" mat-dialog-content>
    <p>Tu producto ah sido agregado al carrito exitosamente</p>
</div>
<div *ngIf="user"mat-dialog-actions align="center">
    <button mat-button [mat-dialog-close]="true" >Cerrar</button>
    <button mat-button (click)="onClick()" cdkFocusInitial>Ir al carrito</button>
</div>

<div *ngIf="!token"  mat-dialog-content>
    <b>No ha iniciado sesión</b>
</div>
<div *ngIf="!token"mat-dialog-actions align="center">
    <a mat-dialog-close routerLink="login" mat-button>Iniciar Sesión</a>
    <a mat-dialog-close routerLink="register" mat-button cdkFocusInitial>Nuevo Usuario</a>
</div>