<app-header></app-header>
<div class="main-content">
    <div>
        <h1>Afiliados</h1>
        <h2>Patrocinio:</h2>
        <p>
            Somos una marca que busca presencia principalmente en redes, especialmente
            en instagram ya que más que creer en un producto creemos en las personas y
            el arte, por eso contamos con este programa de afiliados o patrocinio en
            el cual puedes ganar dinero, ademas de recibir merchandising totalmente
            gratis para uso personal o para sorteos, cupones de descuentos,
            variabilizaciones por venta, etc.
        </p>
        <ul>
            <b>Requisitos:</b>
            <li>Cuenta con 30K+ seguidores.</li>
            <li>Tener almenos 10 publicaciones.</li>
            <li>Interactividad en el perfil.</li>
        </ul>
        <p>
            Las cuentas seran revisadas manualmente para evitar cuentas falsas, o
            boteadas.
        </p><br>
        <h2>Diseño:</h2>
        <p>
            Queremos que el proceso de diseño conceptual sea más rápido y sencillo.
            Y nos encantan esas grandes ideas de independientes, si deseas diseñar o crear un
            prototipo de algo puedes enviarnos un correo con el asunto: <b>'New design'</b>, y puede
            que te contactemos para formar parte de nuestro equipo de diseñadores, o simplemente
            te desearemos suerte para la proxima, recuerda que siempre que busquemos nuevo talento
            para incorporar a nuestro equipo notificaremos en todas nuestras <a routerLink="/redes">redes</a>!.
            Si deseas formar parte del team Devoid felicidades!, tienes buen gusto.
        </p>
    </div>
</div>
<app-footer></app-footer>