<app-header></app-header>
<div class="store-container">

    <div class="store-container-tittle">
        <h1>Devoid</h1>
        <p><i>"La vida es demasiado corta para llevar ropa aburrida"</i></p>
    </div>

    <div class="store-container-sidebar">
        <b>Filtrar por:</b>
        <ul>
            <li>
                <a (click)="reload()" [routerLink]="['/store']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Todo </a>
            </li>
        </ul><br>
        <b>Colecciones</b>
        <ul>
            <li *ngFor="let collection of collection">
                <a (click)="reload()" [routerLink]="['/store']" routerLinkActive="active"
                    [queryParams]="{collection: collection.collection_name}" [routerLinkActiveOptions]="{exact: true}">{{collection.collection_name}}</a>
            </li>
        </ul><br>
        <b>Tipo</b>
        <ul>
            <li *ngFor="let category of category">
                <a (click)="reload()" [routerLink]="['/store']" routerLinkActive="active"
                    [queryParams]="{category: category.category_name}" [routerLinkActiveOptions]="{exact: true}">{{category.category_name}}</a>
            </li>
        </ul>
    </div>

    <div class="store-container-shop">
        <div class="store-shop-content">
            <a mat-button class="store-shop-box" [routerLink]="'/store/'+product.product_route" *ngFor="let product of product">
                <div class="store-shop-box-img"><img src="/assets/img/pro/{{ product.product_route }}.jpg" alt="Devoid {{product.product_name}}"></div>
                <div class="store-shop-box-tittle">
                    <h3>{{ product.product_name }}</h3>
                </div>
                <div class="store-shop-box-description"></div>
                <div class="store-shop-box-price"><span><b>${{ product.product_price }}</b></span></div>
                <div class="store-shop-box-link">Agregar al carrito</div>
            </a>
        </div>
    </div>
    <div class="store-container-text">
        <p>
            Nos esforzamos por ser una parte integral de la comunidad y siempre
            estamos abiertos a dar la bienvenida a nuevas partes interesadas a
            nuestra empresa. Nuestro objetivo es crear una red cada vez mayor de
            clientes y expertos de la industria para promover nuestros objetivos
            mutuos. Promovemos el arte y el desarrollo, y creamos
            oportunidades de crecimiento a través de nuestras colaboraciones con
            marcas y personas. En Devoid, somos un equipo de personas motivadas por el
            objetivo de convertirnos en la mejor y más innovadora empresa que
            podamos ser.
          </p>
    </div>

</div>
<app-footer></app-footer>