<app-header></app-header>
<div class="store-container">
    <div *ngFor="let item of product" class="product-container">
        <form [formGroup]="carForm" (ngSubmit)="onAddCar(carForm.value)">
            <div class="store-form-img">
                <div class="store-product-img">
                <div class="product_smalls_img">
                    <ul>
                        <li *ngFor="let color of colors">
                            <img (mouseover)="imgChange(color)"
                                src="/assets/img/pro/{{item.product_route}}_{{color}}.jpg" alt="Devoid {{item.product_name}} {{color}}">
                        </li>
                    </ul>
                </div>
                <div class="product_big_img">
                    <img src="{{img}}" alt="Devoid {{item.product_name}}">
                </div>
                </div>
            </div>
            
                <div class="store-form-title">
                    <h1>{{ item.product_name }}</h1><span><b>${{ item.product_price }}</b></span>
                </div>
                <div class="store-form">
                    <h2> Color: </h2>
                    <div class="color">
                        <label *ngFor="let color of colors">
                            <input (click)="imgChange(color)" type="radio" formControlName="color" name="color" value="{{color}}">
                            <span class="checkmark" [ngStyle]="{'background-color': color}"></span>
                        </label>
                    </div><br>

                    <h2> Size: </h2>
                    <div class="size">
                        <label *ngFor="let size of sizes">
                            <input type="radio" formControlName="size" name="size" value="{{size}}">
                            <span class="checkmark2">{{size}}</span>
                        </label>
                    </div><br>
                </div>

                <div class="store-form2">
                    <div class="amount">
                        <h2>Cantidad:</h2>
                        <select formControlName="amount">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                    </div>
                    <div class="error" *ngIf="carForm.get('color')?.errors && carForm.get('color')?.touched">
						<div *ngIf="carForm.get('color')?.hasError('required')">escoja un color</div>
					</div>
                    <div class="error" *ngIf="carForm.get('size')?.errors &&carForm.get('size')?.touched">
						<div *ngIf="carForm.get('size')?.hasError('required')">escoja una talla</div>
					</div>
                    <div class="error" *ngIf="carForm.get('amount')?.errors &&carForm.get('amount')?.touched">
						<div *ngIf="carForm.get('amount')?.hasError('required')">el valor minimo es 1</div>
					</div>
                        <button mat-flat-button class="btn-buy">Comprar</button>
                </div>
                <div class="description">
                    <p>{{ item.product_description }}</p>
                </div>
            </form>
    </div>
</div>
<app-footer></app-footer>