<app-header></app-header>
<div class="main-container">
  <div class="container">
    <div class="text">
      <h1>SOPORTE</h1>
      <p>
        Estamos en constante evolución y buscamos constantemente ampliar
        nuestros conocimientos para servir mejor a nuestros clientes.
      </p>
      <p>
        Estamos trabajando en las politicas de la
        tienda para poder brindar un mejor servicio, gracias por la espera.
      </p>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="text">
      <h2>C O N T A C T</h2>
        <a href="mailto:team@devoid.shop" mat-button>Envianos un correo, con gusto responderemos</a>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="text">
      <h2>D E V O L U C I O N E S</h2>
      <p>
        Solo aceptamos devoluciones si el producto no ah sido enviado, una ves enviado el producto 
        se descarta cualquier tipo de devolucion.
      </p>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="faq">
      <h2>F A Q</h2>
      <div class="text">
        <h4>¿Provees envíos internacionales?</h4>
        <br />
        <p>
          Por el momento solo tenemos envios en ecuador, planeamos expandirnos muy pronto,
          cuando estemos disponible en otras regiones, os enviaremos un mail para notificarlos.
        </p>
        <br />

        <h4>¿Cómo puedo devolver un producto?</h4>
        <br />
        <p>
          Solo se pueden devolver productos en las tiendas fisicas de Devoid, o en caso
          de que exista algun defecto de fabrica, se le realizara el intercambio corresponiente por un
          nuevo producto.
        </p>
        <br />

        <h4>¿Cuál es tu política de retorno?</h4>
        <br />
        <p>
          Las devoluciones o cambios deben realizarse a través del medio por el cual se recibió el producto,
          es decir, sí fue atendido directamente por medio de un vendedor autorizado o por medio del servicio 
          en línea, está será su canal de retorno de producto.
        </p>
        <br />
      </div>
      
      <div class="text">
        <h4>¿Cómo puedo rastrear mi pedido?</h4>
        <br />
        <p>
          Por el momento esta funcionalidad no esta disponible, pero garantizamos que
          el producto llegara antes de 3 dias. en caso de retraso puede enviarnos un mail
          a team@devoid.shop para ayudarle.
        </p>
        <br />

        <h4>¿Cómo puedo contactar a los distribuidores?</h4>
        <br />
        <p>
          En caso de que desee poner nuestro producto en sus tiendas, o ser un vendedor
          autorizado puede enviar un mail a sales@devoid.shop con el asunto: distribuidor.
        </p>
        <br />

        <h4>¿Cuáles son las opciones de envío?</h4>
        <br />
        <p>
          Por el momento solo disponemos de envios a Ecuador, por lo que no existen
          opciones de envio mas que las locales, los costos de envio son fijos.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
