<app-header></app-header>
<div class="main-container">
  <div class="container">
    <div class="text">
      <h1>SOPORTE</h1>
      <p>
        Ignora esta pagina de momento, estamos trabajando en las politicas de la
        tienda para poder brindar un mejor servicio, gracias por la espera.
      </p>
      <p>
        Estamos en constante evolución y buscamos constantemente ampliar
        nuestros conocimientos para servir mejor a nuestros clientes.
      </p>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="text">
      <h2>S O P O R T E</h2>
      <form [formGroup]="msg">
        <input type="email" />
        <input type="text" />
        <input type="text" />
      </form>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="text">
      <h2>D E V O L U C I O N E S</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed
        rerum enim tempore ea ipsa non ipsum magni dolorum esse aperiam
        inventore repudiandae totam placeat maiores nihil illum, facere
        doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Quidem sed rerum enim tempore ea ipsa non ipsum magni dolorum esse
        aperiam inventore repudiandae totam placeat maiores nihil illum, facere
        doloremque.
      </p>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="faq">
      <h2>F A Q</h2>
      <div class="text">
        <h4>¿Provees envíos internacionales?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />

        <h4>¿Cómo puedo devolver un producto?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />

        <h4>¿Cuál es tu política de retorno?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />
      </div>
      <div class="text">
        <h4>¿Cómo puedo rastrear mi pedido?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />

        <h4>¿Cómo puedo contactar a los distribuidores?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />

        <h4>¿Cuáles son las opciones de envío?</h4>
        <br />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem iure nam
          perferendis sit delectus cum! Magnam voluptates vero in expedita ut
          iusto, placeat quo sint accusantium nobis quibusdam sunt obcaecati?
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
