<app-header></app-header>
<div class="main-content">
  <div>
    <h1>Metodos de pago</h1>
    <h2>Tarjeta de debito.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi ea
      autem odit velit eveniet quaerat laudantium necessitatibus beatae,
      dignissimos nesciunt dolore consequuntur doloribus et quae iste,
      accusantium, atque eaque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Placeat animi ea autem odit velit eveniet quaerat
      laudantium necessitatibus beatae, dignissimos nesciunt dolore consequuntur
      doloribus et quae iste, accusantium, atque eaque.
    </p><br>
    <h2>Paypal.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi ea
      autem odit velit eveniet quaerat laudantium necessitatibus beatae,
      dignissimos nesciunt dolore consequuntur doloribus et quae iste,
      accusantium, atque eaque. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Placeat animi ea autem odit velit eveniet quaerat
      laudantium necessitatibus beatae, dignissimos nesciunt dolore consequuntur
      doloribus et quae iste, accusantium, atque eaque.
    </p><br>
    <h2>Bitcoin.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi ea
      autem odit velit eveniet quaerat laudantium necessitatibus beatae,
      dignissimos nesciunt dolore consequuntur doloribus et quae iste,
      accusantium, atque eaque.Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Placeat animi ea autem odit velit eveniet quaerat
      laudantium necessitatibus beatae, dignissimos nesciunt dolore consequuntur
      doloribus et quae iste, accusantium, atque eaque.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat animi ea
      autem odit velit eveniet quaerat laudantium necessitatibus beatae,
      dignissimos nesciunt dolore consequuntur doloribus et quae iste,
      accusantium, atque eaque.Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Placeat animi ea autem odit velit eveniet quaerat
      laudantium necessitatibus beatae, dignissimos nesciunt dolore consequuntur
      doloribus et quae iste, accusantium, atque eaque.
    </p>
  </div>
</div>
<app-footer></app-footer>
