.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.main-content div{
    text-align: center;
}
a{
    background-color: red;
    color: #fff;
    border-radius: 12px;
}