<footer class="footer">
<div class="footer-container">
    <hr>
    <div class="links">
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/store">Tienda</a></li>
        <li><a routerLink="/support">Soporte</a></li>
        <li><a routerLink="/cart">Carrito</a></li>
    </ul>
    <ul>
        <li><a href="https://www.instagram.com/devoid.ig/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/Devoid.fsy/" target="_blank">Facebook</a></li>
    </ul>
    <ul>
        <li><a routerLink="/payment">Metodos de pago</a></li>
        <li><a routerLink="/support">Aviso legal</a></li>
        <li><a routerLink="/support">Politicas de privacidad</a></li>
        <li><a routerLink="/support">Politicas de compra</a></li>
    </ul>
    </div>
    <hr>
    <p>Copyright © 2021 Devoid. All rights reservated.</p>
</div>
</footer>