<footer class="footer">
<div class="footer-container">
    <hr>
    <div class="links">
    <ul>
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="store">Tienda</a></li>
        <li><a routerLink="support">Soporte</a></li>
        <li><a routerLink="cart">Carrito</a></li>
    </ul>
    <ul>
        <li><a routerLink="">Instagram</a></li>
        <li><a routerLink="">Facebook</a></li>
        <li><a routerLink="">Twitter</a></li>
    </ul>
    <ul>
        <li><a routerLink="">Metodos de pago</a></li>
        <li><a routerLink="">Aviso legal</a></li>
        <li><a routerLink="">Politicas de privacidad</a></li>
        <li><a routerLink="">Politicas de compra</a></li>
    </ul>
    </div>
    <hr>
    <p>Copyright © 2021 Devoid. All rights reservated.</p>
</div>
</footer>