@font-face{
    font-family: "Trajan Pro";
    src: url("assets/fonts/TrajanPro-Regular.ttf");
}
@font-face{
    font-family: "Trajan Pro Bold";
    src: url("assets/fonts/TrajanPro-Bold.otf");
}
@font-face{
    font-family: "Avenir Light";
    src: url("assets/fonts/avenirltstd-light.otf");
}
* {
    font-family: 'Avenir Light';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: #666;
    font-size: 14px;
    text-align: center;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #eeeeee;
}
h1{
    font-family: 'Trajan Pro';
    font-size: 3em;
    font-weight: normal;
}

button:hover{
    cursor: pointer;
}

button{
    height: 40px;
    padding: 4px 5px;
    border: 0;
    border-radius: 8px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-family: 'Trajan Pro Bold';
}
hr{
    width: 99%;
}

.displayOnMovil{
    display: none;
}
.displayOnDesktop{
    display: block;
}

@media only screen and (max-width:768px){
    .displayOnMovil{
        display: block;
    }
    .displayOnDesktop{
        display: none;
    }
}